<h1>ログイン</h1>
<%= form_with url: login_url, local: true do |f| %>
  <div class="field">
    <h4>ユーザーID</h4>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <h4>パスワード</h4>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit value: "ログイン" %>
  </div>
<% end %>